[submodule "src/modules/pdbparser"]
	path = src/modules/pdbparser
	url = https://github.com/ukyouz/pdbparse
[submodule "src/modules/winappdbg"]
	path = src/modules/winappdbg
	url = https://github.com/ukyouz/winappdbg
[submodule "src/modules/treesitter/tree-sitter-c"]
	path = src/modules/treesitter/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
